//Cart CSS animation
.cart_showing {
  display: visible;
  position: fixed;
  right: -500px;
  top: 0px;
  padding-top: 30px;
  padding-left: 25px;
  width: 380px;
  height: 100vh;
  filter: brightness(1);
  background-color: white;
  -webkit-animation: slide 1s forwards;
  // -webkit-animation-delay: 1s;
  animation: slide 1s forwards;
  // animation-delay: 0.1s;
  z-index: 1000;
}
@-webkit-keyframes slide {
  100% { right: 0; }
}
@keyframes slide {
  100% { right: 0; }
}

.cart_hidden {
  display: none;
  transform: translateX(500px);
  right: -500px;
  top: 0px;
  padding-top: 30px;
  width: 300px;
  height: 0;
  // filter: brightness(1);
  background-color: white;
  -webkit-animation: slide-out 1s backwards;
  -webkit-animation-delay: 1s;
  animation-direction: normal;
  animation: slide-out 1s backwards;
  animation-delay: 0.5s;
  z-index: 1000;
}

@-webkit-keyframes slide-out {
  100% { left: 0; }
}
@keyframes slide-out {
  100% { left: 0; }
}

.cart_product_main {
  display: flex;
  width: 340px;
  border-bottom: 1px solid $grayline;
  padding-top: 5px;
  padding-bottom: 10px;
}

.cart_product_img img {
  width: 80px;
  height: 59px;
}

.cart_product_description {
  flex-grow: 2;
  text-align: left;
  // width: 200px;
  margin-left: 12px;
    h3 {
      margin: 0;
      color: $green;
      text-align: left;
      font-weight: 500;
      font-size: 15px;
    }
    h4 {
      margin: 0;
      color: $gray;
      font-weight: 500;
      font-size: 11px;
      margin-block-end: 0;
    }
    button {
      border: none;
      color: $lighgray;
      text-decoration: underline;
      cursor: pointer;
      margin: 0;
      padding: 0;
    }
}

.cart_product_price {
  margin-right: 10px;
}

.cart_total {
  font-weight: 600;
  width: 340px;
  text-align: justify;
  padding-top: 30px;
  padding-bottom: 30px;
}
