.homepage{
  z-index: 1;
}

.homepage_cart {
  // background: rgba(255,255,255,0.78);
  filter: opacity(25%);
  //  background-color: rgba(255, 255, 255,0.438);
  pointer-events: none;
  // cursor: default;
}

