.menu_main {
  margin-left: 60px;
  margin-right: 30px;
  h3 {
  font-size: 24px;
  font-weight: $semi-bold;
  }
  @media only screen and (max-width: 575px) {
     margin-left: 30px;


  }
}

.menu_product_main {
  display: flex;
  margin-right: 20px;
  margin-bottom: 16px;
  border-bottom: 1px solid $grayline;
  min-height: 180px;
  width: 90vw;
  box-shadow: 0 1px 0 0 $grayshadow;
  @media only screen and (max-width: 838px) {
    flex-flow: row wrap;
    justify-content: center;
    width: 90vw;
    min-height: 140px;
  }
  @media only screen and (max-width: 666px) {
    width: 85vw;
  }
  @media only screen and (max-width: 574px) {
    width: 90vw;
  }
}

.menu_product_main:last-child{
  border-bottom: none;
  box-shadow: none;
}

.menu_product_img img{
  height: 160px;
  width: 220px;
  @media only screen and (max-width: 838px) {
    height: 130px;
    width: auto;
  }
  @media only screen and (max-width: 650px) {
    height: auto;
    width: 165px;
  }

}
.menu_product_description{
  flex-grow: 2;
  text-align: left;
  margin-left: 20px;
    h3 {
      color: $green;
      font-size: 20px;
      font-weight: $medium;;
      margin: 0;
    }
    h4 {
      color: $gray;
      font-size: 16px;
      font-weight: $medium;;
      margin: 0;
    }

    p {
      font-size: 14px;
      margin-right: 20px;
    }
    @media only screen and (max-width: 900px) {
      margin-left: 10px;
      h3 {
       font-size: 16px;
      }
      h4 {
        font-size: 14px;
      }
      p {
        font-size: 11px;
        width: 40vw;
      }
    }
    @media only screen and (max-width: 758px) {

      p {
        width: 35vw;
      }
    }
    @media only screen and (max-width: 688px) {
      p {
        width: 30vw;
      }
    }
    @media only screen and (max-width: 666px) {
      text-align: center;
      h4 {
        font-size: 13px;
      }
      p {
        width: 90vw;
      }
    }
}

.menu_product_shop{
  background-color: $graybackg;
  font-weight: $semi-bold;
  text-align: center;
  border-radius: 4px;
  padding: 0 10px;
  height: 160px;
  @media only screen and (max-width: 838px) {
    height: 130px;
    width: 150px;
  }
  @media only screen and (max-width: 666px) {
    margin-bottom: 6px;
    padding: 6px;
    height: 100px;
  }
}

