.navbar_main{
  display: flex;
  margin-top: 20px;
  padding-bottom: 18px;
  align-items: center;
  border-bottom: 1px solid $grayline;
}

.navbar_logo{
  flex-grow: 2;
  margin-left: 40px;
  @media only screen and (max-width: 575px) {
    margin-left: 20px;
  }
  img {
    @media only screen and (max-width: 575px) {
      width: 120px;
      margin-top: 5px;
      height: auto;
    }
  }
}

.navbar_menu {
  text-decoration: none;
  color: $gray;
  margin-right: 30px;
  @media only screen and (max-width: 600px) {
    margin-right: 10px;
    font-size: 14px;
  }
}
