$font-family-Poppins:           "Poppins", sans-serif  !default;
$font-family-SoleilSb:          "SoleilSb", sans-serif  !default;

$medium:                        500  !default;
$semi-bold:                     600  !default;
$regular:                       300 !default;



$gray:                       #595959 !default;
$white:                      #FFFFFF !default;
$green:                      #5DAD93 !default;
$lightgreen:                 #2FC594 !default;
$black:                      #000000 !default;
$lighgray:                   #919EAB !default;
$darkgreen:                  #3B8873 !default;
$lighgray:                   #919EAB !default;
$graybackg:                  #FAF9F7 !default;
$grayline:                   #E5E5E5 !default;
$grayshadow:                 #F3F0EB !default
