.add_to_cart{
  background: $green;
  color: $white;
  font-size: 13px;
  letter-spacing: 0.5px;
  border-radius: 2px;
  border: none;
  height: 50px;
  width: 175px;
  @media only screen and (max-width: 838px) {
    height: 35px;
    width: 135px;
  }

  @media only screen and (max-width: 666px) {
    font-size: 10px;
    height: 28px;
    width: 100px;
  }

}

.add_to_cart:hover,
.add_to_cart:active {
  background: $darkgreen;
}

.added_to_cart{
  background-color: $lightgreen;
  color: $white;
  font-size: 13px;
  letter-spacing: 0.5px;
  border-radius: 2px;
  border: none;
  height: 50px;
  width: 175px;
  @media only screen and (max-width: 838px) {
    padding: 3px;
    height: 35px;
    width: 135px;
  }
  @media only screen and (max-width: 666px) {
    font-size: 10px;
    height: 28px;
    width: 100px;
  }
}

.added_to_cart:hover,
.added_to_cart:active {
  background: $darkgreen;
}
