.add_to_cart{
  font-size: 13px;
  color: $white;
  letter-spacing: 0.5px;
  background: $green;
  height: 50px;
  width: 175px;
  border-radius: 5px;
  @media only screen and (max-width: 820px) {
    height: 35px;
    width: 135px;
  }
  @media only screen and (max-width: 660px) {
    height: 28px;
    width: 100px;
    font-size: 10px;
  }
}

.add_to_cart:hover,
.add_to_cart:active {
  background: $darkgreen;
}

.added_to_cart{
  background-color: $lightgreen;
  font-size: 13px;
  color: $white;
  letter-spacing: 0.5px;
  border-radius: 5px;
  height: 50px;
  width: 175px;
  @media only screen and (max-width: 820px) {
    height: 35px;
    width: 135px;
    padding: 3px;
  }
  @media only screen and (max-width: 660px) {
    height: 28px;
    width: 100px;
    font-size: 10px;
  }
}

.added_to_cart:hover,
.added_to_cart:active {
  background: $darkgreen;
}
