.cart_nav:hover {
  cursor: pointer
}

.cart_svg{
  margin-right: 1px;
  margin-bottom: -5px;
  height: 22px;
  width: auto;
  z-index: 1;
}
.cart_circle{
  display: inline-block;
  background-color: $lightgreen;
  color: $white;
  font-size: 12px;
  font-weight: $semi-bold;
  line-height: 1;
  margin-left: -20px;
  border-radius: 20px;
  padding: 2px 5px;
  vertical-align: super;
  z-index: 10000;
}

.cart_nav {
  background: none;
  color: $gray;
  font-size: 16px;
  font-weight: 400;
  border: none;
  @media only screen and (max-width: 628px) {
    margin-right: 10px;
    font-size: 12px;
  }
}


