.cart_nav {
  border: none;
  font-size: 16px;
  font-weight: 500;
  @media only screen and (max-width: 600px) {
    margin-right: 10px;
    font-size: 14px;
  }
}

.cart_nav:hover {
  cursor: pointer
}

.cart_svg{
  height: 20px;
  widows: 22px;
}
.cart_circle {
  border-radius: 50%;
  position: relative;
  left: -5px;
  bottom: 10px;
  height: 15px;
  width: 20px;
  background-color: $lightgreen;
}
