.checkout_btn{
  background: $green;
  color: $white;
  font-size: 13px;
  letter-spacing: 0.5px;
  border: none;
  height: 50px;
  width: 340px;
  border-radius: 4px;
  @media only screen and (max-width: 575px) {
    width: 270px;
  }
}

.checkout_btn:hover,
.checkout_btn:active {
  background: $darkgreen;
}
