.read_more {
  color: $darkgreen;
  font-size: 12px;
  font-weight: $semi-bold;
  border: none;
  padding: 0;
  cursor: pointer;
  @media only screen and (max-width: 860px) {
    font-size: 11px;
  }
  @media only screen and (max-width: 666px) {
    margin-left: auto;
    margin-right: auto;
  }
}

.collapse {
  display: none
}

.in {
    display: block;
}

.read_more.in {
    margin-bottom: 40px;
}
